interfaces {
{% for int in link %}
    {{ int.interface }} {
        unit 0 {
            description "{{ int.name }}";
            family inet {
                address {{ int.ip }}/{{ int.subnet }};
            }
        }
    }
{% endfor %}
}
protocols {
    lldp {
        interface all;
    }
    bgp {
        group underlay {
            import bgp-in;
            export bgp-out;
            type external;
            local-as {{ device.asn }};
            multipath multiple-as;
			{% for int in link %}
			{% if int.neighbor is defined %}
            neighbor {{ neighbor[int.neighbor].peer_ip }} {
                peer-as {{ neighbor[int.neighbor].asn }};
            }
			{%endif%}
			{%endfor%}
        }
    }
}
