{% for port_list in ports %}
{% for line_list in extLines %}
{% for location_list in location %}
{% if (((location_list.type == "Warehouse") or (location_list.type == "Office") )and 
((location_list.location == line_list.location) and ( line_list.ip.cb_gw is defined ) ) ) %}
 - IpProtocol: "{{port_list.protocol}}"
   FromPort: {{port_list.FromPort}}
   ToPort: {{port_list.ToPort}}
   CidrIp: "{{line_list.ip.cb_gw}}/32"
   Description: "{{line_list.location}}-{{line_list.ordinal}}-internet -  {{location_list.type}} {{location_list.commName}} ({{line_list.provider}})"
{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}